.h1 {
  transform: translate(517px, 10px);
  color: rgb(248, 54, 5);
}

.loginContainer {
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  margin-top: 100px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm .formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.loginForm label {
  margin-bottom: 5px;
}

.loginForm input[type='email'],
.loginForm input[type='password'] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.loginButton {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: transparent;
  border-color: white;
  color: white;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.logo {
  width: 400px;
  height: 175px;
  transform: translate(-5px, 48px);
}
